.user {
  width: 725px;
  background: #ffffff;
  padding: 30px 25px 30px 0;
  margin: 15rpx 0 0 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 2px 5px #eeeeee;
}
.user .userinfo-avatar{
  flex: 1;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 80px;
}
.user .user-info{
  flex: 5;
  text-align: left;
}
.user .user-info text{
  display: block;
}
.user .user-info .userinfo-nickname{
  padding: 8px 0 10px 0;
  font-size: 30px;
  color: #818A8F;
}
.user .user-info .edit{
  font-size: 30px;
  color: #bababa;
  line-height: 34px;
}

.my{
  margin: 15px 0 0 0;
  border-top: solid 1px #ebebeb;
  border-bottom: solid 2px #ebebeb;
}
.my .my-item{
  width: 750px;
  background: #ffffff;
  padding: 0
}
.my .my-item .myitem-icon{
  flex: 1;
}
.my .my-item .myitem-icon image{
  width: 45px;
  height: 45px;
  padding: 37.5px 0;
}
.my .my-item .myitem-name{
  flex: 5;
  text-align: left;
  font-size: 34px;
  color: #6d6d6d;
  line-height: 60px;
  padding: 30rpx 0;
  border-bottom: solid 1px #ebebeb;
}
.my .my-item:last-child .myitem-name{
  border-bottom: none;
}